<div class="jumbotron">
    <h1>Server, do not close!</h1>
    <p class="lead">Server is running.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

